/*- Custom style -*/

.post-interactions {
  margin: 1em 0;
  button {
    margin-right: 0.5em;
  }
  span {
    margin-right: 1em;
  }
}

.comments {
  margin-top: 2em;
}

.comment-note {
  font-size: 0.9em;
  color: #555;
}
